:root{
    --gambar:url("https://imgs.search.brave.com/w3uU47vMjhdPKQNNHsQX9RkTLm4CBX5LvVYWTnOYq8A/rs:fit:711:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC4z/ZkZVdWNEWXU2NGo4/VkY2eVlsZGp3SGFF/OCZwaWQ9QXBp");
}

:root{
    --utama:#85586F;
    --cadangan:#DEB6AB;
    --bg:#F8ECD1;
}

body{
    background: var(--bg);
}

.navbar{
    background:var(--utama) !important;
}

.img-fluid{
    background: var(--gambar) center;
    background-repeat: no-repeat;
    background-size: cover;
}

#dropdownMenuLink, #buyProduct{
    background: var(--cadangan);
}

#buyProduct:focus + #scrollable{
    border: 0px solid ;
    display: flex;
}

#buyProduct:hover{
    font-size: 20px;
}

#scrollable img{
    background: var(--gambar) center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 20vw;
}
