#header{
    font-size: 14px !important;
    height: 5vh !important;
    z-index: 1;
}

#header h3{
    font-size: 16px !important;
}

#header .navbar-toggler {
    height: 20% !important;
    aspect-ratio: 1;
    border: 0 !important;
    padding: 0 !important;
}

.alert{
    padding: 1vh 1vw !important;
    font-size: 12px !important;
}

#main{
    flex-direction:column;
}

#main form{
    width: 80vw !important;
    padding: 0px !important;
    font-size: 12px !important;
}

#basic-addon1, #basic-addon2,  #basic-addon3,  #basic-addon4{
    font-size: 12px !important;
    width: 35% !important;
    white-space: unset !important; 
}

#main #garis{
    visibility:hidden !important;
    position:absolute !important;
    z-index:-1 !important;
}

#main img{
    width: 50vw !important;
    margin-bottom: 1vh !important;
}

#main button {
    font-size: 12px !important;
}

#continueAsGuest, #register{
    width:50% !important;
}

#footer .w-50{
    width:75% !important;
}

#footer ul, #footer p{
    font-size: 12px !important;
}