<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/bootstrap.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg text-light navbar-dark" style="background-color: var(--utama);">
    <div class="container-fluid">
      <a class="navbar-brand text-light" style="cursor: default;"><h3>Canteen</h3></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" style="cursor: default;">Home</a>
          </li>

          <li th:if="${name}" class="nav-item">
            <a class="nav-link text-light" href="/createProduct">Create Product</a>
          </li>

            <li th:unless="${name}" class="nav-item">
                <a class="nav-link text-light" href="/login">Log in</a>
            </li>

          <li th:if="${name}" class="nav-item">
            <a class="nav-link text-light" href="/balanceBox">Balance Box</a>
          </li>

            <li th:unless="${name}" class="nav-item">
                <a class="nav-link text-light" href="/register">Sign up</a>
            </li>

      </ul>
        <form th:if="${name}" class="d-flex">
            <h5 class="me-4 d-flex align-items-center mb-0" th:text="${name}"></h5>
            <a class="btn btn-danger btn-md me-3" href="/logout" role="button"> Log Out </a>
        </form>
      </div>
    </div>
  </nav>

  <div class="dropdown d-flex justify-content-end mt-2 mb-4 container-fluid py-2">
    <a class="btn dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="background: var(--cadangan);">
        <span class="pe-5">Sort By</span>
    </a>
    
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="#">Product name ascending</a></li>
      <li><a class="dropdown-item" href="#">Product name descending</a></li>
      <li><a class="dropdown-item" href="#">Oldest product</a></li>
      <li><a class="dropdown-item" href="#">Latest product</a></li>
    </ul>
  </div>
  
  <div class="row row-cols-2 row-cols-xl-3 g-4 w-100 mx-0 justify-content-center" id="main">
      <!-- ex 1 -->
      <div th:each="product: ${products}" class="card mb-3 px-0 mx-2" style="cursor: pointer;max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img th:src="@{'/imagedata/' + ${product.imageSrc}}" style="max-width:75%; max-height:75%; vertical-align: middle;"
              data-bs-toggle="modal" th:attr="data-bs-target='#detailDialog-'+${product.id}" class="rounded-start">

            <button id="buyProduct" type="button" class="w-100 h-25" data-bs-toggle="modal" th:attr="data-bs-target='#buyDialog-'+${product.id}"
                    style="z-index: 2; background: var(--cadangan);">
                Buy Product
            </button>
          </div>
          <div class="col-md-8" data-bs-toggle="modal" th:attr="data-bs-target='#detailDialog-'+${product.id}">
            <div class="card-body">
                <p class="card-title fs-4 mb-0" th:text="${product.name}"></p>
                <b><p class="card-text fs-4" th:text="${product.price}"></p></b>
                <p class="card-text" th:text="${product.description}"></p>
                <p class="card-text"><small class="text-muted" th:text="${'Product created at: ' + product.date}"></small></p>
            </div>
          </div>
        </div>
      </div>

      <!-- pop up buy -->
      <div th:each="product: ${products}" class="modal fade" th:id="${'buyDialog-' + product.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" th:text="${product.name}"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure want to buy this product?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
        </div>
      </div>

      <!-- popup detail -->
      <div th:each="product: ${products}" class="modal fade m-0" th:id="${'detailDialog-' + product.id}"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" th:text="${product.name}"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <img th:src="@{'/imagedata/' + ${product.imageSrc}}"
            style="width: auto; height: auto; max-width: 100vw; max-height: 40vh; object-fit: contain;
                    background-position: center; background-repeat: no-repeat;"
            class="img-fluid card-img-top">
            <div class="modal-body m-0" style="border-top: 1px solid black;">
              <div class="card border-0">
                <div class="card-body">
                  <h5 class="card-title" th:text="${product.price}"></h5>
                  <p class="card-text" th:text="${product.description}" style="white-space: pre-wrap;"></p>
                  <p class="card-text"><small class="text-muted" th:text="${'Product created at: ' + product.date}"></small></p>
                </div>
              </div>
            </div>
            <div class="modal-footer d-flex align-item-center justify-content-center">
              <button type="button" class="btn btn-primary w-50 text-center" data-bs-dismiss="modal" th:attr="data-bs-target='#buyDialog-'+${product.id}"
                      data-bs-toggle="modal">Buy Product</button>
            </div>
          </div>
        </div>
      </div>
  </div>>
</body>
<style>
      :root{
        --gambar:url("https://imgs.search.brave.com/w3uU47vMjhdPKQNNHsQX9RkTLm4CBX5LvVYWTnOYq8A/rs:fit:711:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC4z/ZkZVdWNEWXU2NGo4/VkY2eVlsZGp3SGFF/OCZwaWQ9QXBp");
        --utama:#85586F;
        --cadangan:#DEB6AB;
        --bg:#F8ECD1;
      }

      body{
        background: var(--bg);
      }

      img{
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
      }

      #buyProduct:focus + #scrollable{
          border: 0px solid ;
          display: flex;
      }

      #buyProduct:hover{
          font-size: 20px;
      }
</style>
</html>