<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg text-light" style="background-color: var(--utama);">
        <div class="container-fluid">
        <a class="navbar-brand text-light" style="cursor: default;"><h3>Canteen</h3></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" style="cursor: default;">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" style="cursor: default;">|</a>
            </li>
            <li th:if="${name}" class="nav-item">
                <a class="nav-link text-light" href="/createProduct">Create Product</a>
            </li>
                <li th:unless="${name}" class="nav-item">
                    <a class="nav-link text-light" style="cursor: default;">Log in</a>
                </li>
            <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" style="cursor: default;">|</a>
            </li>
            <li th:if="${name}" class="nav-item">
                <a class="nav-link text-light" href="/balanceBox">Balance Box</a>
            </li>
                <li th:unless="${name}" class="nav-item">
                    <a class="nav-link text-light" href="/register">Sign up</a>
                </li>
        </ul>
            <form th:if="${name}" class="d-flex">
                <h5 class="me-4 d-flex align-items-center mb-0" th:text="${name}"></h5>
                <a class="btn btn-danger btn-md me-3" href="/logout" role="button"> Log Out </a>
            </form>
        </div>
        </div>
    </nav>

    <div class="d-flex flex-column align-items-center m-4">
        <img class="mb-3" style=" width:250px; height:250px" src="/images/logo.png" alt="SD SEA Sentosa Logo">
        <form action="" method="post" class="w-50">
            <div class="input-group mb-2">
                <span class="input-group-text w-25" id="basic-addon1">Student's ID</span>
                <input type="text" class="form-control" placeholder=" " aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text w-25" id="basic-addon1">Password</span>
                <input type="text" class="form-control" placeholder=" " aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div>
                Don't have an account? <a style="text-decoration: none; color:var(--utama)" href="/register"><b>Sign up</b></a>
            </div>

            <span class="d-flex flex-column ">
                <div class="d-flex my-3 w-100 justify-content-center">
                    <button style="width:30%; background-color: var(--utama);"
                    type="submit" class="btn border-0 text-light">Login</button>
                </div>
                <div class="d-flex w-100 justify-content-center">
                    <button style="width:30%; background-color: var(--cadangan);"
                    class="btn border-0">Continue As Guest</button>
                </div>
            </span>
        </form>
    </div>

</body>
<link rel="stylesheet" href="/css/style.css">
<script src="/js/bootstrap.js"></script>
<style>
    :root{
        --utama:#85586F;
        --cadangan:#DEB6AB;
        --bg:#F8ECD1;
      }
      body{
        background: var(--bg);
      }
</style>
</html>